# ===============================
# Python
# ===============================
venv/
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Django
# ===============================
db.sqlite3
*.log
media/
staticfiles/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# React
# ===============================
frontend/node_modules/
frontend/dist/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db