.profile-card{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);

    border-radius: 24px;

    padding: 30px;

    text-align: center;

    color: white;

    margin-bottom: 30px;

    transition: all 0.3s ease;
}

.profile-card:hover{
    transform: translateY(-6px);
}

.profile-avatar{
    width: 130px;
    height: 130px;

    border-radius: 50%;

    object-fit: cover;

    border: 4px solid rgba(255,255,255,0.2);

    margin-bottom: 20px;
}

.username{
    color: #94a3b8;
    margin-bottom: 25px;
}

.profile-stats{
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-top: 20px;
    margin-bottom: 25px;

    flex-wrap: wrap;
}

.profile-stat{
    padding: 15px;
}

.profile-stat h3{
    margin: 0;
    font-size: 28px;
}

.profile-stat span{
    color: #94a3b8;
}

.profile-details{
    margin-top: 20px;
    color: #cbd5e1;
}